
main {
    max-width: 1024px;
}

form {
    margin: auto;
}

form > input {
    display: block;
    margin: 20px auto;
    border: none;
    width: 90%;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
}

form label.horizontal {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

form label.vertical {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

form label div{
    margin: 15px 10px;
}

form label div input{
    margin-right: 5px;
}

form label.vertical div * {
    display: inline-block;
}

button {
    display: block;
    margin: 10px auto;
}

.summit, .reset{
    border: none;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.summit{
    width: 90%;
    background-color: #1259c3;
}

.reset{
    width: 70%;
    background-color: #666;
}

